@use "../variables"; /* Colors, fonts, etc. */
@use "../mixins"; 

.auth-container {
    width: 18rem;
    margin: 0 auto;
    
    #login-form, 
    #register-form {
        height: 450px;
        @include mixins.flex-center($direction: column, $gap: 20px, $margin: 0);
        justify-content: space-around;
        gap:20px;
        padding: 2rem;
        width: 100%;
        margin: 0 auto;
        padding: 2rem;
        background-color: variables.$bg-soft;
        border-radius: 8px;
        box-shadow: variables.$shadow-md;

        form {
            @include mixins.flex-center($direction: column, $gap: 15px, $margin: 0);
            width: 100%;
            align-items: flex-start;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: variables.$radius-md;
            font-family: variables.$font-main;
            font-size: 16px;
        }

        button {
            @include mixins.button-style;
            width: 100%;
            font-size: 16px;

            &:hover {
                background-color: variables.$primary-light; 
                color: white;
            }
        }
    }

    @media screen and (min-width: 768px) {
        width: 22rem;
    }
}