@use "../variables"; /* Colors, fonts, etc. */
@use "../mixins"; 
/* Navigation */
.nav {
    display: none;
}

@media screen and (min-width: 992px) {
    .mobile-nav {
        display: none;
    }
    .nav {
        @include mixins.flex-between($direction: row, $gap: 30px, $justify-content: space-between, $align-items: flex-start);
        list-style-type: none;
        
        a {
            text-decoration: none;
            color: variables.$nav-link;
            font: 600 18px variables.$font-nav;
            transition: color 0.6s ease-in-out;

            &:hover { 
                color: variables.$nav-hover; 
            }
        }

        .nav-item {
            padding: 10px 15px;
            position: relative;

            &:hover > .sub-nav {
                display: grid;
            } 

            .sub-nav {
                @include mixins.custom-scrollbar;
                min-width: 600px;
                display: none;
                grid-template-columns: repeat(3, 1fr);
                position: absolute;
                top: 100%;
                left: 0;
                background-color: variables.$accent;
                padding: 10px;
                border-radius: variables.$radius-sm;
                box-shadow: variables.$shadow-md;
                padding-top: 10px;
                z-index: 10;
                list-style-type: none;
                max-height: 400px;
                overflow-y: auto;

                li {
                    margin-bottom: 5px;
                    width: 100%;

                    a {
                        font-size: 16px;
                        color: variables.$nav-link;
                        display: block;
                    }

                    a:hover {
                        color: variables.$nav-hover;
                    }
                }
            }
        }
    }
}